---
title: Yakman
---

<div id="sticks"></div>

<div id="name-chars"></div>

<div id="wasshois">
  <div id="wasshoi1">わっしょい！</div>
  <div id="wasshoi2">わっしょい！</div>
</div>

<div class="container">
  <%- 14.times do %>
    <div class="tile-wrapper">
      <div class="tile"></div>
    </div>
  <% end %>
</div>

<div id="kanji-repository">
  <%- Dir.glob("#{root}/source/images/chars/*") do |path| %>
    <%- id = path.split('/').last.sub('.svg', '') %>
    <div id=<%= "kanji_#{id}"%>><%= File.read(path) %></div>
  <% end %>
</div>
